@page "/"
@attribute [StreamRendering]

@if (carregando)
{
    <p><em>Carregando...</em></p>
}
else
{
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <RadzenChart>
                    <RadzenLineSeries
                        CategoryProperty="Data"
                        Data="@atividades"
                        RenderingOrder="1"
                        Smooth="true"
                        Title="@DateTime.Now.Year.ToString()"
                        ValueProperty="Quantidade">
                        <RadzenSeriesDataLabels Visible="true" />
                        <RadzenMarkers MarkerType="MarkerType.Circle"/>
                        <RadzenSeriesTrendLine
                            LineType="LineType.Dashed"
                            Stroke="var(--rz-danger-dark)"
                            Visible="true"/>
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" Formatter="@FormatarMes" />
                    <RadzenValueAxis>
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Atividades Criadas" />
                    </RadzenValueAxis>
                </RadzenChart>
            </div>
        </div>
    </div>
}